{% extends 'base.twig' %}

{% block title %}Dashboard - Mon Blog{% endblock %}

{% block content %}
<h2>Dashboard</h2>
<p>Bienvenue dans votre tableau de bord.</p>
<a href="dashboard/post/add">Ajouter un nouveau post</a>
{% endblock %}